<div class="skin-blue sidebar-mini" [class.sidebar-collapse]="header['collspse']" [class.sidebar-open]="header['collspse']">
  <div id="wrapper" class="wrapper" style="height:100vh;overflow:auto;" (scroll)="onScroll($event)">
    <layout-header [header]="header" (announcement)="onAnnouncement($event);"></layout-header>

    <div class="content-wrapper">
      <section class="content">
        <div class="box box-primary">
          <div class="row title">
            <div class="col-xs-9 col-md-10">
              <h4>
                <div class="row">
                  <div class="col-md-6">
                    {{ 'name' | translate }}
                  </div>
                  <div class="col-md-6">
                    {{ 'time' | translate }}
                  </div>
                </div>
              </h4>
            </div>
            <div class="col-xs-3 col-md-2">
              <h4></h4>
            </div>
          </div>
          <div class="row row-content" *ngFor="let announce of announceList; let i = index ">
            <div class="col-xs-9 col-md-10">
              <div class="row row-line">
                <div class="col-md-6 log-message">
                  {{ announce.message }}
                </div>
                <div class="col-md-6">
                  {{ announce.showTime }}
                </div>
              </div>
            </div>
            <div class="col-xs-3 col-md-2">
              <div class="btn-group">    
                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                  {{ 'edit' | translate }}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a (click)="openModalEdit(i);">
                      <span class="glyphicon glyphicon-list-alt"></span> 
                      <span>
                        {{ 'edit' | translate }}
                      </span>
                    </a>
                  </li> 
                  <li role="separator" class="divider" *ngIf="userAdmin == 2"></li>         
                  <li *ngIf="userAdmin == 2">
                    <a (click)="openModalRemove(i);">
                      <span class="glyphicon glyphicon-trash"></span> 
                      <span>
                        {{ 'remove' | translate }}
                      </span>
                    </a>
                  </li>     
                </ul>
              </div>
            </div>
          </div>
          
        </div>
      </section>

      <!-- 新增下載連結 POPUP視窗 -->
      <modal #modalAddAnnouncement name="modalAddAnnouncement" cssClass="modal_with" [animation]="false" [keyboard]="false" [backdrop]="'static'">
        <div class="box box-primary box-solid">
          <div class="box-header with-border">
            <h3 class="box-title">
              <span>{{ modalAnnouncementTitle | translate }}</span>
            </h3>
            <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" (click)="modalAddAnnouncement.close();">
              <i class="fa fa-times"></i>
            </button>
            </div>
          </div>
          <div class="box-body">
            <div class="form-group">
              <textarea [(ngModel)]="addAnnounce['message'].val" rows="4" cols="50" class="form-control" maxlength="256"></textarea>
              <div class="text-danger" *ngIf="addAnnounce['message'].err">
                <span class="glyphicon glyphicon-alert"></span>
                <span>{{ addAnnounce['message'].err | translate }}</span>
                <span *ngIf="addAnnounce['message'].errRange">({{ 'allow_range' | translate}}: {{ addAnnounce['message'].errRange }})</span>
              </div>                
            </div>
            <div class="ksmt-modal-footer">
              <button type="button" class="btn btn-default" (click)="modalAddAnnouncement.close()">
                {{ 'cancel' | translate }}
              </button> 
              <button class="btn btn-primary" (click)="saveAnnounce(curIdx)" *ngIf="userAdmin == 2">
                {{ 'send' | translate }}
              </button>
            </div>
          </div>
        </div>
      </modal>

      <!-- 警告 POPUP視窗 -->
      <modal #modalRemove name="modalRemove" cssClass="modal_with" [animation]="false">
        <div class="box box-primary box-solid">
          <div class="box-header with-border">
            <h3 class="box-title">
              <span>{{ 'caution' | translate }}</span>
            </h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" (click)="modalRemove.close();">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </div>
          <div class="box-body">
            <div class="form-group">
              <div><strong>{{ 'name' | translate }}: {{ addAnnounce['message'].val }}</strong></div>
              <div>{{ 'make_sure_delete' | translate }}</div>
            </div>
            <div class="ksmt-modal-footer">
              <button type="button" class="btn btn-default" (click)="modalRemove.close()">
                {{ 'cancel' | translate }}
              </button> 
              <button type="button" class="btn btn-danger" (click)="deleteAnnounce()">
                {{ 'confirm' | translate }}
              </button> 
            </div>
          </div>
        </div>
      </modal>

    </div>

  </div>
</div>