html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

a, a:hover, a:active {
 text-decoration: none;
}

span.active {
  background-color: gray;
}

.ng2-datetime-picker {
    display: inline-block;
    position: relative;
}

.dropdown-menu {
	top: 120%;
	left: -145px;
}

.dropdown-menu li a {
	padding: 10px 20px;
}

.refresh-log {
	text-align: center;
	font-size: 30px;
}

.modal-content {
	border-radius: 5px;
}

.title {
	display: none;
	padding: 5px 0px;
	margin: 0px !important;
	border-bottom: 1px solid #ddd; 
}

.row-content:hover {
	background-color: #f5f5f5;
}

.row-content {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 5px 0px;
	margin: 0px !important;
	border-bottom: 1px solid #ddd;
	position:relative;
	min-height: 64px;
}

.ksmt-modal-footer{
	text-align: right;
}

.log-image{
	line-height: 55px;
}

.log-word {
	font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.log-message {
	margin-bottom: 5px;
	font-weight: 700;
	font-size: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 18px;
}

.break-all div{
	word-break: break-all;
}

@media (min-width: 970px) {
	.modal_with {
		width:400px;
	}

	.content {
	  padding: 25px !important;
	  padding-left: 25px !important;
	  padding-right: 25px !important;
	}

	.width-400 {
		width:400px !important;
	}

	.width-200 {
		width:200px !important;
	}

	.title {
		display: inherit;
	}

	.log-word {
		font-size: 14px;
	}

	.log-message {
		font-weight: 100;
		font-size: 14px;
	}
}

@media (max-width: 600px) {
}